#formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#habitForm{
    width: 40%;
    min-width: 300px;
    padding: 1rem;
    margin-top: 10%;
    box-shadow: 0px 0px 19px 0px lightgrey;
    border-radius: 1rem;
}

#habitForm div{
    margin: 1rem;
}